In [58]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime


df = pd.read_csv('data_assignment.csv')

In [49]:
sum = 0
for index in range(df.shape[1]):
    columnSeriesObj = df.iloc[: , index]
    sum += columnSeriesObj.count()
    
print("Total number of data points: ", sum)

Total number of data points:  1881207

In [102]:
date = df['Date']
minDate = date.min().split("T")[0]
maxDate = date.max().split("T")[0]
NumberOfPostings = df['Date'].nunique()

print("This data covers the period between " + minDate + " and "+ maxDate)
print("Number of dates with postings:" , NumberOfPostings)

This data covers the period between 2018-10-01 and 2018-11-13
Number of dates with postings: 44

In [103]:
NumberOfLocations = df['Location'].nunique()
loc = df['Location'].max()

print("Total locations :" , NumberOfLocations)
print("Location with most postings:" , loc)

Total locations : 65
Location with most postings: Yorke Peninsula & Clare Valley

In [193]:
classifications = df['Classification'].value_counts()
classificationUnique = df['Classification'].nunique()
jobs = df['Classification'].unique()

print("Total job sectors :" , classificationUnique)
print("Each job sector and number of postings: ", classifications)

Total job sectors : 30
Each job sector and number of postings:  Information & Communication Technology    16661
Trades & Services                         14125
Healthcare & Medical                      12515
Hospitality & Tourism                     11818
Manufacturing, Transport & Logistics       9608
Administration & Office Support            7636
Accounting                                 7075
Education & Training                       7033
Retail & Consumer Products                 6496
Sales                                      6281
Construction                               6254
Government & Defence                       5926
Engineering                                4812
Mining, Resources & Energy                 4679
Community Services & Development           3528
Banking & Financial Services               3481
Human Resources & Recruitment              3233
Call Centre & Customer Service             3127
Legal                                      3071
Marketing & Communications                 3052
Real Estate & Property                     2729
Design & Architecture                      1379
Insurance & Superannuation                 1144
Consulting & Strategy                       905
Sport & Recreation                          750
Science & Technology                        696
Farming, Animals & Conservation             683
Advertising, Arts & Media                   644
CEO & General Management                    585
Self Employment                              73
Name: Classification, dtype: int64

In [210]:
jobs = df['SubClassification'].unique()
listOfSubSectors = []

for i in range(len(jobs)):
    value = jobs[i].split(" ")
    if value[0] == "Engineering":
        listOfSubSectors.append((jobs[i]))
        
subSector = df['SubClassification'].value_counts()
print("The names of the Engineering sub-sectors are: ", listOfSubSectors)
for i in listOfSubSectors:
    print("Number of job lists for", i , "|", subSector[i])

The names of the Engineering sub-sectors are:  ['Engineering - Software', 'Engineering - Network', 'Engineering Drafting', 'Engineering - Hardware']
Number of job lists for Engineering - Software | 1087
Number of job lists for Engineering - Network | 402
Number of job lists for Engineering Drafting | 304
Number of job lists for Engineering - Hardware | 94

In [277]:
minValue = df['LowestSalary'].unique()
maxValue = df['HighestSalary'].unique()
rangeValueCount = df['HighestSalary'].value_counts()

#this implementation only works with even number of values in each column
for i, j, k in zip(minValue, maxValue, rangeValueCount):
    print("Salary range (in thousands):",i, "to",j, " This range has", k, "job listings")

Salary range (in thousands): 0 to 30  This range has 27606 job listings
Salary range (in thousands): 30 to 40  This range has 17708 job listings
Salary range (in thousands): 40 to 50  This range has 14108 job listings
Salary range (in thousands): 50 to 60  This range has 13062 job listings
Salary range (in thousands): 60 to 70  This range has 12932 job listings
Salary range (in thousands): 70 to 80  This range has 12582 job listings
Salary range (in thousands): 80 to 100  This range has 12559 job listings
Salary range (in thousands): 100 to 120  This range has 12441 job listings
Salary range (in thousands): 120 to 150  This range has 11738 job listings
Salary range (in thousands): 150 to 200  This range has 10651 job listings
Salary range (in thousands): 200 to 250  This range has 4612 job listings

In [371]:
grouped = df.groupby(['LowestSalary', 'HighestSalary', 'JobType'])
totalJobTypes = df['JobType'].dropna().unique()
currentHighest = 0
currentLowest = 0


print("Job types are: ", totalJobTypes)

# From looking at the data, every job type is represented in every salary range. This seems to be repeated in the code. 
# Not sure if correct.
for i in totalJobTypes:
    
    for job, group in grouped:
        if job[2] == i and job[0] < currentLowest:
            currentLowest = job[0]
        if job[2] == i and job[1] > currentHighest:
            currentHighest = job[1]
    print("highest and lowest salary for", i, "is", currentLowest, currentHighest)

Job types are:  ['Full Time' 'Contract/Temp' 'Part Time' 'Casual/Vacation']
highest and lowest salary for Full Time is 0 250
highest and lowest salary for Contract/Temp is 0 250
highest and lowest salary for Part Time is 0 250
highest and lowest salary for Casual/Vacation is 0 250